.crumbs{
  margin-bottom:10px;
}
.container{
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}
.form-AllDate{
  width: 250px;
  margin-left: 18px;
}
